body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#duration{
  font-size:30px;
  text-align:center;
}
.progress{
  padding-left:0;
}
.progress{
  width:1080px;
}

#vol {
  width:9%;
  text-align:center;
}


.layer {
  background-color:transparent;
  cursor:none;
}

#count{
  font-size:30px;
}

.alert-warning{
  text-align:center;
  display:none;
  font-size:24px;
}

.alert-success{
  text-align:center;
  display:none;
  font-size:24px;
}

#VideosBeingPlayed{
  cursor:pointer;
}