body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#duration{
  font-size:30px;
  text-align:center;
}
.progress{
  padding-left:0;
}
.progress{
  width:1080px;
}

#vol {
  width:9%;
  text-align:center;
}


.layer {
  background-color:transparent;
  cursor:none;
  margin-top:10px;
}

#count{
  font-size:30px;
}

.alert-warning{
  text-align:center;
  display:none;
  font-size:24px;
}

.alert-success{
  text-align:center;
  display:none;
  font-size:24px;
}

#VideosBeingPlayed{
  cursor:pointer;
}

.custom-range{
  margin-top:10px;
  margin-bottom:10px;
}

#progressbar-Section,
.controls{
  display:none;
}

#command-log{
  overflow-y: scroll;
  max-height: 600px;
}

.active{
  text-align: center;
  font-size:17px !important;
}

.list-group-item{
  text-align: center;
  font-size:14px;
}